.escola-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.imagem-escola {
  width: 570px;
  height: 671px;
  margin-top: 60px;
  left: 120px;
  position: relative;
}

.mapa {
  width: 540px;
  height: 240px;
  margin-left: -435px;
  margin-top: 600px;
  position: absolute;
}

.info-aulas {
  max-width: 11ch;
  margin-top: 60px;
  margin-left: 420px;
}

.vantagens {
  margin-left: 420px;
  margin-top: 120px;
}

.vantagens li:first-child::before {
  content: "";
  display: block;
  margin: 28px 0px 28px 0px;
  width: 470px;
  height: 2px;
  margin-right: 10px;
  background: var(--cor-1);
}

.vantagens li::after {
  content: "";
  display: block;
  margin: 28px 0px 28px 0px;
  width: 470px;
  height: 2px;
  margin-right: 10px;
  background: var(--cor-1);
}

.icones {
  padding: 0px 30px;
}

.como-chegar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1;
  margin-top: 120px;
  margin-left: 120px;
  position: relative;
}

.como-chegar h2::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: -14px;
  margin-top: 10px;
  background: url(../../icones/Ellipse\ 5circulo.svg) no-repeat;
  position: absolute;
}

.como-chegar h3::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 2px;
  margin-left: -14px;
  margin-top: 13px;
  background: var(--cor-b2);
  position: absolute;
}

.info-praia {
  grid-column: 3;
}
