.bg-aulas {
  margin-top: 100px;
  text-align: center;
  margin-top: 100px;
  background: var(--cor-1);
  width: 100%;
  height: 1260px;
  position: relative;
}

.onda-aulas {
  text-align: center;
}

.texto-aulas {
  padding: 200px;
}

.aulas-container {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 200px;
}

.bg-aulas::before {
  content: "";
  width: 176px;
  height: 75px;
  margin-top: -30px;
  margin-left: -90px;
  background: url(../../icones/ondas.png) no-repeat;
  position: absolute;
}

.bg-descricao {
  background: var(--cor-0);
  width: 370px;
  height: 434px;
  position: relative;
}

.dificuldade {
  margin-top: -100px;
}

.bg-descricao h2::after {
  content: "";
  display: block;
  width: 230px;
  height: 2px;
  margin-left: 70px;
  margin-top: 20px;
  background: var(--cor-1);
}

.conteudo-descricao {
  text-align: start;
  margin: 0px 100px ;
  position: absolute;
}

.bg-descricao p::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: -14px;
  margin-top: 10px;
  background: url(../../icones/Ellipse\ 5circulo.svg) no-repeat;
  position: absolute;
}

.bg-descricao h3::before {
  content: "";
  display: block;
  width: 230px;
  height: 2px;
  margin-left: -30px;
  margin-top: 28px;
  background: var(--cor-1);
}

.sub-descricao {
  text-transform: uppercase;
  margin-bottom: 57px;
}

.texto-desconto {
  display: grid;
  grid-column: 2;
  margin-right: 200px;
  margin-top: 50px;
}

.detalhe-info p::before {
  content: '';
  display: block;
  width: 50px;
  height: 50;
  background-color: var(--cor-d8);
} 
